html { 
    background-color: rgb(68, 68, 68);
    padding: 0px;
    margin: 0px;
    font-family: 'Creepster', cursive;
}

body {
    color: rgb(181, 197, 140);
    margin: 0;
    font-size: 20px;
}

header {
    color: black;
    background-image: url(IMG_0266.jpeg);
    height: 400px;
    padding-top: 100px;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.banner {
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    color: white;
    background-color: black;
    box-shadow: 5px 9px 11px 5px rgba(0,0,0,0.28);
    opacity: 0.7;
    margin: 130px 40px 0px 0px;
    position: fixed;
    transform: rotate(30deg);
}

nav {
    font-size: 25px;
    padding: 30px 150px 0px 1050px;
}  

.inhalt {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.message {
    padding-bottom: 70px;
    word-wrap: break-word;
    word-break: break-all;
}

footer {
    color: black;
    background-color: #eaeaea;
    text-align: center;
}
.verteilung {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h3 {
    font-size: 30px; 
}

.button {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.button:hover {
    color: black;
    text-decoration: underline;  
}

.clicked {
    color: black;
    text-decoration: underline;
}

input {
    font-size: 20px;
    background-color: gray;
    color: white;
}

input::placeholder {
    color: white;
}

.send {
    background-color: gray;
    color: white;
    font-size: 16px;
    padding:  4px 10px 4px 10px;
}

.send:hover {
    background-color: rgba(128, 128, 128, 0.692);
}

.transparent {
    opacity: 0.5;
}

.transparent:hover {
    opacity: 1;
}
.size {
    padding: 20px;
    width: 250px;
    margin: 0 auto;
}

.size:hover {
    transform: scale(1.1);
}

.sw {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.sw:hover {
    -webkit-filter: url(/B8E2CC66-DB56-49FA-9829-FABF50594981.jpg);
    filter: url(/B8E2CC66-DB56-49FA-9829-FABF50594981.jpg)
}