body {
    background-color: rgb(206, 206, 206);
    font-family: sans-serif;
    margin: 80px 150px 80px 150px;
}

h3 {
    font-size: 30px;
}

.counterStyle {
    color: rgb(70, 70, 70);
    font-size: 20px;
    margin: 20px 20px 20px 20px;
}

#textinput {
    width: 350px;
    font-size: 20px;
}

#newTaskAdded {
    background-color: white;
    width: 350px;
    padding-left: 10px;
    font-size: 20px;
}
