body{
    margin: 80px 40px 80px 40px;
    background-color: #0000005a;
}

.drumpad {
    background-image: linear-gradient(to bottom right, #b2ffc4, #3eb65a);
    border: none;
    margin: 12px 12px 12px 12px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 5px 0px 10px #1e5c2d;
}

.drumpad:hover {
    background-image: linear-gradient(to bottom right, #eaffef, #68c77e);
    box-shadow: 4px 5px 0px 10px #338247;
}

.drumpad:active {
    transform: translateY(4px);
}


.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.row3 {
    display: flex;
    justify-content: center;
}

.play {
   display: flex;
   justify-content: center;
   color: white;
   font-size: 50px;
}

.space {
    margin: 50px 10px 10px 10px;
} 

.play:active {
    display: none;
}

.remixer {
   display: flex; 
   justify-content: center;
   color: white;
   font-size: 50px;
   margin: 70px 0px 10px 0px;
}

